nav {
  display: flex;
  align-items: flex-start;
  background-color: rgb(128, 128, 11);
  padding: 50px 0;
  justify-content: space-around;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style: none;
font-weight: bold ;

}









